<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Account Settings - Profile - SB Admin Pro</title>
        <link href="/static/css/styles.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="/static/assets/img/favicon.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="nav-fixed">
        <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">
            <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="home.html"><img src="/static/assets/img/branding/logo_blue.svg" alt=""></a>
    
            <!-- Navbar Items-->
            <ul class="navbar-nav align-items-center ms-auto">
                <!-- User Dropdown-->
                <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownDocs" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="fw-500">Valerie Luna</div>
                        <i class="fas fa-chevron-right dropdown-arrow"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <h6 class="dropdown-header d-flex align-items-center">
                            <div class="dropdown-user-details">
                                <div class="dropdown-user-details-name">Valerie Luna</div>
                                <div class="dropdown-user-details-email">vluna@aol.com</div>
                            </div>
                        </h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#!">
                            <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                            Mi perfil
                        </a>
                        <a class="dropdown-item" href="#!">
                            <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
            <div id="layoutSidenav_content">
                <main>
                    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                        <div class="container-xl px-4">
                            <div class="page-header-content">
                                <div class="row align-items-center justify-content-between pt-3">
                                    <div class="col-auto mb-3">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="user"></i></div>
                                            Account Settings - Profile
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <div class="container-l p-4 mt-4">
                        <div class="row">
                            <div class="col-xl-3">
                                <!-- Profile picture card-->
                                <div class="card mb-4 p-1 mb-xl-0">
                                    <div class="card-body">
                                        <!-- Profile picture image-->
                                        <div class=" text-center">
                                            <img class="img-account-profile rounded-circle mb-2" src="/static/assets/img/illustrations/profiles/profile-1.png" alt="" />
                                            <!-- Nombre -->
                                            <h1 class="text-primary p-3"><%= dataAlumno.Nombre +" "+ dataAlumno.Apellido%></h1>
                                        </div>
                                        <div class="px-3">
                                            <h5 class="mb-0 mt-5">Informaci칩n personal</h5>
                                            <hr class="mt-2 mb-4" />
                                             <!-- Grado -->
                                            <div>
                                                <p class="text-teal card-text mb-1">
                                                    <i class="me-1" data-feather="map"></i>
                                                    Grado
                                                </p>
                                                <h5 class="card-title mb-4"><%= dataAlumno.nombreGrado %></h5>
                                            </div>
                                            <!-- Codigo -->
                                            <div>
                                                <p class="text-warning card-text mb-1">
                                                    <i class="me-1" data-feather="map"></i>
                                                    C칩digo
                                                </p>
                                                <h5 class="card-title mb-2"><%= dataAlumno.carnet %></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-9">
                                <!-- Account details card-->
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <!-- navegaci칩n -->
                                        <nav class="nav nav-borders">
                                            <a class="nav-link ms-0 active" id="conductaTag" >Conducta</a>
                                            <a class="nav-link" id="observacionTag" >Observaciones</a>
                                            <a class="nav-link " id="notasTag" >Notas</a>
                                        </nav>
                                        <hr class="mt-0 mb-4" />
                                        <!-- Selector de a침o-->
                                        <div class="pt-0">
                                            <label class="pb-2" for="exampleFormControlSelect1">Selecciona el bimestre</label>
                                            <div class="input-group input-group-joined">
                                                <span class="input-group-text">
                                                    <i data-feather="calendar"></i>
                                                </span>
                                                <select class="form-control form-control-solid" id="exampleFormControlSelect1">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                         </div>