<%- include('header.alumnos.ejs'); %>
    <div id="conducta">
        <div class="row mt-5">
            <div class="col-lg-6 mb-4">
                <!-- Billing card 1-->
                <div class="card h-100 border-start-lg border-start-primary">
                    <div class="card-body">
                        <div class="small text-muted">Puntaje</div>
                        <div class="h3">100</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <!-- Billing card 2-->
                <div class="card h-100 border-start-lg border-start-success">
                    <div class="card-body">
                        <div class="small text-muted">Calificación</div>
                        <div class="h3">¡Excelente!</div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-hover my-5">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="observaciones" class="d-none">
        <table class="table table-bordered table-hover my-5">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="notas" class="d-none">
        <!-- Materia -->
        <div class="card card-header-actions my-4">
            <div class="card-header bg-primary">
                <h4 class="text-light my-0">Educación para AEP</h4>
                <button class="btn btn-sm btn-teal" type="button">ver más</button>
            </div>
            <div class="card-body px-0">
                <div class="d-flex align-items-center justify-content-between px-4">
                    <table class="table table-bordered table-hover my-2">
                        <thead>
                            <tr>
                                <th scope="col">Perfil</th>
                                <th scope="col">descripción</th>
                                <th scope="col">Porcentaje</th>
                                <th scope="col">Nota</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Materia -->
        <div class="card card-header-actions my-4">
            <div class="card-header bg-primary">
                <h4 class="text-light my-0">Educación para AEP</h4>
                <button class="btn btn-sm btn-teal" type="button">ver más</button>
            </div>
            <div class="card-body px-0">
                <div class="d-flex align-items-center justify-content-between px-4">
                    <table class="table table-bordered table-hover my-2">
                        <thead>
                            <tr>
                                <th scope="col">Perfil</th>
                                <th scope="col">descripción</th>
                                <th scope="col">Porcentaje</th>
                                <th scope="col">Nota</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Materia -->
        <div class="card card-header-actions my-4">
            <div class="card-header bg-primary">
                <h4 class="text-light my-0">Educación para AEP</h4>
                <button class="btn btn-sm btn-teal" type="button">ver más</button>
            </div>
            <div class="card-body px-0">
                <div class="d-flex align-items-center justify-content-between px-4">
                    <table class="table table-bordered table-hover my-2">
                        <thead>
                            <tr>
                                <th scope="col">Perfil</th>
                                <th scope="col">descripción</th>
                                <th scope="col">Porcentaje</th>
                                <th scope="col">Nota</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer.alumnos.ejs'); %>