<%- include('../partials/header.ejs'); %>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-primary pb-10">
                <div class="container-xl px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="user"></i></div>
                                    Crear usuario con diferentes permisos de acceso.
                                </h1>
                                <div class="page-header-subtitle">
                                    Crear y administrar permisos de acceso para usuarios administrativos
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4 mt-n10">
                <div class="card card-header-actions mb-4">
                    <div class="card-header p-5">
                        <a href="/admin/usuarios" class="btn btn-sm btn-primary">Volver Atrás</a>
                        Perfiles administrativos
                    </div>
                    <div class="card-body ">
                        <form id="formAdministrator">
                            <div class="card">
                                <div class="card-header">
                                    Información de acceso
                                </div>
                                <div class="card-body">
                                    <div class="row p-2">
                                        <div class="form-group col-md-6">
                                            <label>Correo electrónico / Usuario</label>
                                            <input type="email" name="Username" class="form-control" required
                                                id="Username">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Contraseña</label>
                                            <input type="password" name="password" class="form-control" required
                                                id="password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div class="card">
                                <div class="card-header">
                                    Permisos de acceso
                                </div>
                                <div class="card-body">

                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Sección de estudiantes</h4>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Visualizar</th>
                                                        <th>Crear</th>
                                                        <th>Editar</th>
                                                        <th>Eliminar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select name="estudiantes_read" id="estudiantes_read"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="estudiantes_create" id="estudiantes_create"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="estudiantes_update" id="estudiantes_update"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="estudiantes_delete" id="estudiantes_delete"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Sección de maestros</h4>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Visualizar</th>
                                                        <th>Crear</th>
                                                        <th>Editar</th>
                                                        <th>Eliminar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select name="maestros_read" id="maestros_read"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="maestros_create" id="maestros_create"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="maestros_update" id="maestros_update"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="maestros_delete" id="maestros_delete"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Sección de grados</h4>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Visualizar</th>
                                                        <th>Crear</th>
                                                        <th>Editar</th>
                                                        <th>Eliminar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select name="grados_read" id="grados_read"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="grados_create" id="grados_create"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="grados_update" id="grados_update"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="grados_delete" id="grados_delete"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <hr>

                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Sección de notas</h4>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Visualizar</th>
                                                        <th>Editar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select name="notas_read" id="notas_read"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="notas_update" id="notas_update"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <hr>

                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Sección de conducta</h4>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Visualizar</th>
                                                        <th>Eliminar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select name="conducta_read" id="conducta_read"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="conducta_delete" id="conducta_delete"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <hr>

                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Sección de usuarios</h4>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Visualizar</th>
                                                        <th>Crear</th>
                                                        <th>Editar</th>
                                                        <th>Eliminar</th>
                                                        <th>Activar / Deshabilitar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select name="usuarios_read" id="usuarios_read"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="usuarios_create" id="usuarios_create"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="usuarios_update" id="usuarios_update"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="usuarios_delete" id="usuarios_delete"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="usuarios_status" id="usuarios_status"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <hr>

                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Sección de catálogos</h4>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Visualizar</th>
                                                        <th>Crear</th>
                                                        <th>Editar</th>
                                                        <th>Eliminar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select name="catalogos_read" id="catalogos_read"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="catalogos_create" id="catalogos_create"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="catalogos_update" id="catalogos_update"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="catalogos_delete" id="catalogos_delete"
                                                                class="form-control">
                                                                <option value="false" class="text-danger">Inactivo
                                                                </option>
                                                                <option value="true" class="text-success">Activo
                                                                </option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            
                        </form>
                        <% if(permisos.usuarios.create){ %>
                        <button class="btn btn-success" id="btnGuardar" >Crear usuario</button>
                        <% } %>
                    </div>
                </div>
            </div>
        </main>


        <%- include('../partials/footer.ejs'); %>
            <script src="/static/js/alertas.js"></script>
            <script src="/static/js/admin/usuarios/administrator.js"></script>