<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Maestros</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
        <link href="/static/css/styles.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="/static/assets/img/favicon.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="nav-fixed">
        <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">
            <!-- Sidenav Toggle Button-->
            <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle"><i data-feather="menu"></i></button>
            <!-- Navbar Brand-->
            <!-- * * Tip * * You can use text or an image for your navbar brand.-->
            <!-- * * * * * * When using an image, we recommend the SVG format.-->
            <!-- * * * * * * Dimensions: Maximum height: 32px, maximum width: 240px-->
            <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="/maestros"><img src="/static/assets/img/branding/logo_blue.svg" alt=""></a>
    
            
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sidenav shadow-right sidenav-dark bg-primary">
                    <div class="sidenav-menu">
                        <div class="nav accordion" id="accordionSidenav">
                            <!-- Sidenav Heading (Opciones)-->
                            <div class="sidenav-menu-heading">opciones</div>
                            <!-- Sidenav Accordion (opciones menú)-->
                            <a class="nav-link collapsed text-white" href="/maestros/perfil">
                                <div class="nav-link-icon text-white"><i data-feather="user"></i></div>
                                Perfil acádemico
                            </a>     
                            <a class="nav-link collapsed text-white" href="/maestros/notas">
                                <div class="nav-link-icon text-white"><i data-feather="edit"></i></div>
                                Ingreso de notas
                            </a>  
                            <a class="nav-link collapsed text-white" href="/maestros/conducta">
                                <div class="nav-link-icon text-white"><i data-feather="award"></i></div>
                                Diario pedagógico 
                            </a>  
                            <a class="nav-link collapsed text-white" href="/maestros/reportes">
                                <div class="nav-link-icon text-white"><i data-feather="archive"></i></div>
                                Visualizar notas
                            </a> 
                            <a class="nav-link collapsed text-white" href="/maestros/guia">
                                <div class="nav-link-icon text-white"><i data-feather="users"></i></div>
                                Maestro guía
                            </a> 

                            <% if( permisosSend.matricula) { %>
                            <a class="nav-link collapsed text-white" href="/maestros/matricula">
                                <div class="nav-link-icon text-white"><i data-feather="clipboard"></i></div>
                                Ingreso de matrículas 
                            </a>    
                            <%}if( permisosSend.indicadores) { %>
                                <a class="nav-link collapsed text-white" href="/maestros/indicadores">
                                <div class="nav-link-icon text-white"><i data-feather="list"></i></div>
                                Indicadores de logro preescolar 
                            </a>    
                            <%}%>
                            
                            
                            <div class="sidenav-menu-heading">Sesión</div>
                            <a class="nav-link collapsed text-white" href="#" data-toggle="modal" data-target="#modalMaestros">
                                <div class="nav-link-icon text-white"><i data-feather="user"></i></div>
                                Cambiar contraseña
                            </a> 
                            <a class="nav-link collapsed text-white " href="/">
                                <div class="nav-link-icon text-white"><i data-feather="log-out"></i></div>
                                Cerrar sesión
                            </a> 
                        </div>
                    </div>
                </nav>
            </div>
            <!-- End Nav-->
            
           