<%- include('header.maestros.ejs'); %>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-dark pb-10">
                <div class="container-xl px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="home"></i></div>
                                    Bienvenido/a
                                </h1>
                                <div class="page-header-subtitle">En este espacio puedes visualizar tus accesos rápidos e información relevante para ti</div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4 mt-n10">
                <div class="row">
                    <div class="col-xl-4 mb-4">
                        <!-- Dashboard example card 1-->
                        <a class="card lift h-100" href="/maestros/notas">
                            <div class="card-body d-flex justify-content-center flex-column">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="me-3">
                                        <i class="feather-xl text-warning mb-3" data-feather="edit"></i>
                                        <h5>Ingreso de notas</h5>
                                        <div class="text-muted small">Ingresa las notas de tus estudiantes</div>
                                    </div>
                                    <img src="/static/assets/img/illustrations/img-notas.svg" alt="..." style="width: 8rem" />
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-4 mb-4">
                        <!-- Dashboard example card 2-->
                        <a class="card lift h-100" href="/maestros/conducta">
                            <div class="card-body d-flex justify-content-center flex-column">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="me-3">
                                        <i class="feather-xl text-green mb-3" data-feather="award"></i>
                                        <h5>Códigos de conducta</h5>
                                        <div class="text-muted small">Ingresa los códigos de tus estudiantes</div>
                                    </div>
                                    <img src="/static/assets/img/illustrations/img-conducta.svg" alt="..." style="width: 8rem" />
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-4 mb-4">
                        <!-- Dashboard example card 3-->
                        <a class="card lift h-100" href="/maestros/perfil">
                            <div class="card-body d-flex justify-content-center flex-column">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="me-3">
                                        <i class="feather-xl text-orange mb-3" data-feather="check-circle"></i>
                                        <h5>Perfiles</h5>
                                        <div class="text-muted small">Visualiza los perfiles académicos</div>
                                    </div>
                                    <img src="/static/assets/img/illustrations/img-perfiles.svg" alt="..." style="width: 8rem" />
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </main>
        <%- include('footer.maestros.ejs'); %>