<%- include('../../partials/header.ejs'); %>
  <div id="layoutSidenav_content">
    <main>
      <header class="page-header page-header-dark bg-primary pb-10">
        <div class="container-xl px-4">
          <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto mt-4">
                <h1 class="page-header-title">
                  <div class="page-header-icon">
                    <i data-feather="clipboard"></i>
                  </div>
                  Áreas
                </h1>
                <div class="page-header-subtitle">
                  Visualiza el catálogo de áreas
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Main page content-->
      <div class="container-xl px-4 mt-n10">
        <div class="card card-header-actions mb-4">
          <div class="card-header p-5">
            Áreas
            <button class="btn btn-md btn-warning" type="button" data-toggle="modal" data-target="#agregarAno">
              Agregar áreas
            </button>
          </div>
          <div class="card-body">
            <table id="datatable">
              <thead>
                <tr>
                  <th scope="col">Área</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <% areas.forEach( (area)=>{ %>
                  <tr>
                    <th scope="row"><%= area.Nombre %></th>
                    <td scope="row" class="col-md-4">
                      <button class="btn btn-primary me-2">
                        <i class="me-2" data-feather="edit"></i>Editar
                      </button>
                      <button class="btn btn-danger btnDelete" data-id="<%= area.id %>" >
                        <i class="me-2" data-feather="trash-2"></i>Eliminar
                      </button>
                    </td>
                  </tr>
                  <%})%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
    
    <div class="modal fade" id="agregarAno" tabindex="-1" aria-labelledby="agregarAno" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="agregarAno">Agregar Áreas</h5>
            <button type="button" class="btn btn-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i data-feather="x"></i></span>
            </button>
          </div>
          <div class="modal-body">
            <form id="formArea">
              <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input type="email" class="form-control" id="areaInputId" name="areaNombre" aria-describedby="emailHelp" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Cancelar
            </button>
            <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer.ejs'); %>
      <script src="/static/js/alertas.js"></script>
      <script src="/static/js/admin/catalogos/areas/areas.js"></script>